@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../webfonts/AtkinsonHyperlegibleNext-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

:root { --bs-font-sans-serif: 'Atkinson Hyperlegible Next', sans-serif; }
