
/* FOR VIEWPDF */
#viewerContainer {
	width: 100%;
}

#viewerContainer .page {
	margin-bottom:2rem;
	border:0;
	border-radius:0.5rem;
}

#viewerContainer canvas {
	border-radius:0.5rem;
}

#viewerContainer *,
#viewerContainer *::before,
#viewerContainer *::after {
	box-sizing: content-box;
}

