
.masthead .masthead-avatar {
	width:auto;
	max-width:100%;
}

.fa-sourceforge {
	position:relative;
}

.fa-sourceforge1 {
	position:absolute;
	top:-7px;
	left:2px;
	font-style:normal;
	font-weight:bold;
	font-family:helvetica,arial;
}

.fa-sourceforge2 {
	position:absolute;
	top:-10px;
	left:13px;
	font-style:normal;
	font-weight:bold;
	font-family:helvetica,arial;
}

@media (max-width: 767.98px) {
	.navbar-brand {
		width: calc(100% - 4rem);
	}
}

.sameheight {
	height:calc(100% - 32px);
}

#portfolio img {
	background-color: #1abc9c;
}

.portfolio-modal img {
	background-color: #1abc9c;
}

.mb-45 {
	margin-bottom: 2rem;
}
